In [54]:
from os import getcwd, walk
from pandas import read_csv, concat

In [41]:
data_sets = []  # List for storing the data set locations
data_sets_directory = f"{getcwd()}/datasets" # Home directory of the data 
for (root, dirs, files) in walk(data_sets_directory):    # Looping over directories 
    for file in files:  # Looping through the files 
        file_path = root + "/" + file   # Setting up the path 
        data_sets.append(file_path)  # Extending the stored directoriess

In [59]:
annual_res = concat([read_csv(data_set) for data_set in data_sets])    
annual_res.sort_values([*annual_res.keys()])

In [64]:
mixed_res = read_csv()

      year  d14c  sig_d14c
0  -5411.0  90.1       2.8
1  -5409.0  97.7       2.9
2  -5407.0  96.9       2.9
3  -5405.0  93.3       2.9
4  -5403.0  90.6       2.8
..     ...   ...       ...
32  -637.0   3.1       1.7
33  -636.0   6.5       1.7
34  -635.0   2.4       1.7
35  -634.0   1.8       2.4
36  -633.0   2.4       2.3

[1012 rows x 3 columns]

Pick a 100 year block and test the code. So I could fill in the 25 years before and 25 years after with the Intcal20 interpolated curve. Take all of Intcal20 and place the actual data into the interpolated data. This would require rescaling the data with a linear curve or something along those lines. Only test the injection recovery at te real years.

Linear combination of the basis vectors provided by the template, linear trend and constant.
$Ax = b$ simple linear regression with a 50 by 3 design matrix that is dotted with a 3 long position vector to produce the predicted d14c. The first row is just the template. The second is just rows and the final is just the year.

Resample the data with gaussian noise of the same magnitude as the error bars. Plot the amplitdues as a histogram. Calculate the chi squared statsitic and then do just trend and mean and calculate the difference in chi squared statistic. I choose the significance threshold of the resulting distribution.This gives the false positive rate.

Then you inject a number of small events and see if they are detected based on the thresholds you decided. This gives you the false negative rate.

Repeating this for every year I can plot the year vs the 50% false positive amplitude of the event. Interpolate over all of the years